
 .paginacionBar {
  display: flex;
  justify-content: center;
  position: relative;
  /* background: rgb(243, 7, 7); */
 } 

 
.paginacionNum {
  width: 50px;
  height: 50px;
  /* border: 8px solid #d298e9; */
  background: #ffffff;
  opacity: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
  font-weight: bold; 
  justify-items: center; 
  font-family: "Comic Sans MS", Gadget, sans-serif;
  font-size: 30px;
  text-decoration: none;
  margin-left: 2px;
}

.paginacionNum button {
  background: transparent;
  border: none;
}

.paginacionNum:hover, .paginacionNum button:hover {
  cursor: pointer
}b nm

 button::before {
  background-size: 100%;
  background-repeat: no-repeat;
  color: transparent;
  position: relative;
  width: 50px;
  height: 50px;
  display: block; 
}
  
  
  